<!DOCTYPE html>
<html lang="en">
{{ template "header" .}}
<body>
{{ template "navbar" .}}
<div class="container">
    <h1>修改文章</h1>
    <form method="post" action="/topic">
        <input hidden name="id" value="{{ .Topic.Id }}">
        <div class="form-group">
            <label>文章标题：</label>
            <input name="title" class="form-control" value="{{ .Topic.Title }}">
        </div>
        <div class="form-group">
            <label>文章内容：</label>
            <textarea name="content" class="form-control" cols="30" rows="10">{{ .Topic.Content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">提交修改</button>
    </form>
</div>
</body>
</html>